version: '2'
services:
    mysql:
        environment:
            MYSQL_ROOT_PASSWORD: <root_password>
            MYSQL_DATABASE: <database>
            MYSQL_USER: <username>
            MYSQL_PASSWORD: <password
    nginx:
        ports:
            - '80:80'
