version: '2'
services:
  application:
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
  mysql:
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ajasta
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
  nginx:
    ports:
      - '80:80'
