@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/bootstrap/less/theme.less";
@import (less) "../../bower_components/datatables/examples/resources/bootstrap/3/dataTables.bootstrap.css";
@chosen-sprite-path: "foochosen-sprite.png";
@import "../../bower_components/bootstrap-chosen/bootstrap-chosen.less";
@import (less) "../../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css";
@import (less) "../../bower_components/Bootstrap-DatePicker/bootstrap-datepicker.css";

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

div.form-action {
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    margin: 0 15px;
}
