<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'username',
                    'password' => 'password',
                    'dbname'   => 'database',
                    'driverOptions' => [
                        \PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8'
                    ],
                ],
            ],
        ],
    ],
    'ajasta' => [
        'core' => [
            'email_sender_address' => 'ajasta@example.com',
            'email_sender_name' => 'Ajasta',
        ],
        'invoice' => [
            'default_vat' => '0.0', // Decimal value, keep as string
            'default_unit' => null, // Can be null, 'days' or 'hours'
            'default_unit_price' => '0.0', // Decimal value, keep as string
        ],
    ],
];
