<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'username',
                    'password' => 'password',
                    'dbname'   => 'database',
                    'driverOptions' => [
                        \PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8'
                    ],
                ],
            ],
        ],
    ],
//    'ajasta' => [
//        // General options
//        'core' => [
//            // Email address displayed as sender
//            'email_sender_address' => 'ajasta@example.com',
//
//            // Name displayed as sender
//            'email_sender_name' => 'Ajasta',
//        ],
//        // Invoice options
//        'invoice' => [
//            // Decimal value, keep as string
//            'default_vat' => '0.0',
//
//            // Can be null, 'days' or 'hours'
//            'default_unit' => null,
//
//            // Decimal value, keep as string
//            'default_unit_price' => '70.0',
//
//            // sprintf() formatting for invoice numbers. The following values are available:
//            // %1$s: invoice number incrementer
//            // %2$s: 4-digit year of the issue date
//            // %3$s: 2-digit month of the issue date
//            // %4$s: 2-digit day of the issue date
//            'invoice_number_format' => '%2$s%1$s',
//        ],
//    ],
];
